<?xml version="1.0" encoding="utf-8"?>
<Configuracoes>
  <Login Automatico="false">
    <Usuario>MANAGER</Usuario>
    <Senha>1</Senha>
  </Login>
  <TelaDefault Abrir="false" SalvarCampos="false" Popular="false" FecharAplicacao="false">
    <AssemblyName></AssemblyName>
    <NomeClass></NomeClass>
  </TelaDefault>
</Configuracoes>