<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WFA_Exemplos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WFA_Workflow.Properties.Settings.Database1ConnectionString" connectionString="Data Source=|DataDirectory|\NFE\Database1.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="WFA_Exemplos.Properties.Settings.Database1ConnectionString" connectionString="Data Source=|DataDirectory|\NFE\Database1.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
    </connectionStrings>
    <applicationSettings>
        <WFA_Exemplos.Properties.Settings>
            <setting name="WFA_Exemplos_testeSoapHeader_LogGlobusMaisWS" serializeAs="String">
                <value>http://localhost:54021/LogGlobusMaisWS.asmx</value>
            </setting>
            <setting name="WFA_Exemplos_xWebService1_WebService1" serializeAs="String">
                <value>http://localhost/globus5/webService1.asmx</value>
            </setting>
        </WFA_Exemplos.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceGinfesImplBinding">
                    <security mode="Transport"/>
                </binding>
                <binding name="ServiceGinfesImplBinding1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://homologacao.ginfes.com.br//ServiceGinfesImpl" binding="basicHttpBinding" bindingConfiguration="ServiceGinfesImplBinding" contract="ServiceReference1.ServiceGinfesImpl" name="ServiceGinfesImplPort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
